

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	background: #ffffff;
}
/* ------------------------------- 3. Slider Styles ------------------------------- */

#fwslider {
    position: relative;
    width:100%;
}

#fwslider .slide {
    
    top:0;
    left:0;
    z-index: 0;
    width:100%;
}

#fwslider .slide img {
    width:100%;
}

#fwslider .slidePrev {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    left:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slidePrev span {
	background-image: url("../../../images/flatStyle/arrows.png");
	width: 45px;
	height: 45px;
	float: left;
	background-position: -10% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#fwslider .slideNext {
    background:#000;
    width:50px;
    height:50px;
    position: absolute;
    top:50%;
    right:-50px;
    opacity:0.5;
    z-index: 10;
}

#fwslider .slideNext span {
    background-image:url("../../../images/flatStyle/arrows.png");
    width:45px;
    height:45px;
    float:left;
    background-position:90% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#fwslider .timers {
    height:4px;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 3;
}

#fwslider .timer {
    height:4px;
    width:40px;
    background-color: #000;
    float:left;
    margin-right: 10px;
}

#fwslider .progress {
    height:4px;
    width:0%;
    background-color: #FC3;
    float:left;
}

#fwslider .slide_content {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    height:100%;
}

#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
    max-width:900px;
    margin:8% auto;
}


#fwslider .title {  /* Slider Title Style */
	text-transform: capitalize;
	opacity: 100;
	color: #fff;
	font-size: 3.1em;
	font-style: normal;
	font-weight: 900;
	-webkit-text-stroke: 0px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	text-align: center;
}

#fwslider .description { /* Slider Description Style */
    opacity: 80;
    color:#333;
    font-size:18px;
    padding:10px;
    padding-bottom:4%;
    clear:both;
    font-style: normal;
    font-weight: 400;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	text-align:center;
}

#fwslider .front_login {
	position:relative;
    line-height:24px;
    max-width: 500px;
  margin: 0 auto;}


/* ------------------------------- 4. Media Query Max Width 1300, Min Width 720 ------------------------------- */
@media only screen and (min-width:720px) and (max-width: 1300px) {

    #fwslider .slide_content_wrap { text-align:center; width:500px}
    #fwslider .title { font-size:39px; }
    #fwslider .description {  font-size:12px;}

}

/* ------------------------------- 5. Media Query Max Width 719 ------------------------------- */

@media only screen and (max-width:719px) {
	#fwslider .slide_content_wrap { width:300px}
	#fwslider .title { display:none}
    #fwslider .slide_content_wrap .description{ display:none; }
    #fwslider .timers { display:none; }
    #fwslider .slide_content {cursor: pointer;}

}