<% if (value) { %>
    <div style="margin-top: 25px">
        <table id="invoice" class="display table table-bordered table-striped">
            <thead>
            <th>NO</th>
            <th>INVOICE ID</th>
            <th>INVOICE DATE</th>
            <th>DETAIL</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<% } %>