<% if (value) { %>
<div style="margin-top: 25px">
    <table id="invoice" class="display table table-bordered table-striped">
        <thead>
        <th>NO</th>
        <th>DATE</th>
        <th>AMOUNT</th>
        <th>REFUNT</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<% } %>