<% if (value) { %>
    <div style="margin-top: 25px;">
        <table id="subscriptionInfo" class="display table table-bordered table-striped">
            <thead>
                <th></th>
                <th>Free</th>
                <th>Basic</th>
                <th>Enterprise</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin-top: 25px;">
        <table id="subscription" class="display table table-bordered table-striped">
            <thead>
                <th>PRODUCT CATEGORY</th>
                <th>PRODUCT NAME</th>
                <th>START DATE</th>
                <th>CHARGED THROUGH DATE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin-top: 25px;">
        <div>
            Plan Select : <%=fields.planSelected.here()%>
        </div>
    </div>

    <div style="margin-top: 25px;">
        <% if(mw3.how != 'subscription') { %>
            <%=methods.subscribe.here()%>
        <% } %>
        <%=methods.changePlan.here()%>
        <%=methods.unsubscribe.here()%>
    </div>
<% } %>