<% if (value) { %>
    <div class="planContainer">
        <div class="planSilver">
            <h1>Silver Plan</h1>
            <h2>Basic No-Frills Package</h2>
            <div class="planPrice">$10/m</div>
            <p>Number of Courses</p>
            <span>4 </span>
            <p>Downloads</p>
            <span>3</span>
            <p>Forums</p>
            <span>Courses Only</span>
        </div>
        <div class="planGold">
            <h1>Gold Plan</h1>
            <h2>The Standard Package</h2>
            <div class="planPrice">$25/m</div>
            <p>Number of Courses</p>
            <span>10 </span>
            <p>Downloads</p>
            <span>Unlimited</span>
            <p>Forums</p>
            <span>Courses Only</span>
        </div>
        <div class="planPlat">
            <h1>Platinum Plan</h1>
            <h2>Elite! Enough Said!</h2>
            <div class="planPrice">$45/m</div>
            <p>Number of Courses</p>
            <span>Unlimited </span>
            <p>Downloads</p>
            <span>Unlimited</span>
            <p>Forums</p>
            <span>ALL</span>
        </div>
    </div>

    <div style="margin-top: 25px;">
        <table id="subscription" class="display table table-bordered table-striped">
            <thead>
                <th>PRODUCT CATEGORY</th>
                <th>PRODUCT NAME</th>
                <th>START DATE</th>
                <th>CHARGED THROUGH DATE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin-top: 25px;">
        <div>
            Plan Select : <%=fields.planSelected.here()%>
        </div>
    </div>

    <div style="margin-top: 25px;">
        <% if(mw3.how != 'subscription') { %>
            <%=methods.subscribe.here()%>
        <% } %>
        <%=methods.changePlan.here()%>
        <%=methods.unsubscribe.here()%>
    </div>
<% } %>