<% if (value) { %>
    <div class="planContainer">
        <span class="planSilver">
            <h1>Free Plan</h1>
            <h2>One Time (Install fee)</h2>
            <span>0</span>
            <h2>Recurring (Per month)<h2>
            <div class="planPrice">0</div>
            <h2>Usage-based</h2>
            <span>N/A</span>
            <h2>Services</h2>
            <span>Practice / Method Authoring</span>
            <span>Workspace - up to 1 project instances per a month, up to 5 participants limited.</span>
        </div>
        <div class="planGold">
            <h1>Basic Plan</h1>
            <h2>One Time (Install fee)</h2>
            <span>0</span>
            <h2>Recurring (Per month)<h2>
            <div class="planPrice">$10/user</div>
            <h2>Usage-based</h2>
            <span>N/A</span>
            <h2>Services</h2>
            <span>including Free Services</span>
            <span>Workspace - up to 5 project instances per a month, up to 15 participants per project instance.</span>
        </div>
        <div class="planPlat">
            <h1>Enterprise Plan</h1>
            <h2>One Time (Install fee)</h2>
            <span>0</span>
            <h2>Recurring (Per month)<h2>
            <div class="planPrice">$100/user</div>
            <h2>Usage-based</h2>
            <span>Default 30GB per team, Overage: $10 for 1GB /month</span>
            <h2>Services</h2>
            <span>including Basic Services</span>
            <span>Workspace - unlimited instances and participants</span>
            <span>Free File attachement</span>
        </div>
    </div>

    <div style="margin-top: 25px;">
        <table id="subscription" class="display table table-bordered table-striped">
            <thead>
                <th>PRODUCT CATEGORY</th>
                <th>PRODUCT NAME</th>
                <th>START DATE</th>
                <th>CHARGED THROUGH DATE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div style="margin-top: 25px;">
        <div>
            Plan Select : <%=fields.planSelected.here()%>
        </div>
    </div>

    <div style="margin-top: 25px;">
        <% if(mw3.how != 'subscription') { %>
            <%=methods.subscribe.here()%>
        <% } %>
        <%=methods.changePlan.here()%>
        <%=methods.unsubscribe.here()%>
    </div>
<% } %>