<% if (value) { %>
    <div style="margin-top: 25px">
        <table id="timeLine" class="display table table-bordered table-striped">
            <thead>
            <th>EFFECTIVE DATE</th>
            <th>BUNDLE</th>
            <th>EVENT TYPE</th>
            <th>DETAILS</th>
            <th>REASON CODE / COMMENTS</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<% } %>