<% if (value) { %>
    <div style="margin-top: 25px">
        <table id="timeLine" class="display table table-bordered table-striped">
            <thead>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<% } %>