<% if (value) { %>
    <div style="margin-top: 25px">
        <table id="usages" class="display table table-bordered table-striped">
            <thead>
                <th>SUBSCRIPTION ID</th>
                <th>USAGE FROM DATE</th>
                <th>USAGE TO DATE</th>
                <th>TOTAL USAGE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    startDate : <%=fields.startDate.here({when:'edit', htmlAttrChild: {class:'textinput', placeholder: 'ex) yyyy-MM-dd'}})%>
    endDate : <%=fields.endDate.here({when:'edit', htmlAttrChild: {class:'textinput', placeholder: 'ex) yyyy-MM-dd'}})%>
    <div>
        <%=methods.createUsages.here()%>
        <%=methods.getUsages.here()%>

    </div>
<% } %>