<!--replace-->
<% if(value!=null){ %>

<span class="icon-bookmarks" className="<%=objectTypeName%>" id="objDiv_<%=objectId%>" title="drag this and drop to somewhere" height="40" style="font-size: 16px; color: #c0392b;"></span>
<% }%>