

<%if (value!=null){
%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<div onclick="<%=methods.more.caller()%>" style="margin:auto;width:100%"><br><%=mw3.localize("$more")%><br></div>


<%}

}%>