<%
	if(value){

%>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td width="65" valign="top">
					<div class="notMePic">
						<div class="notMePicPic" style="float:left"><%=fields.writer.here()%></div>
						<div style="float:left; margin-left:10px">
							<div><b></b></div>
							<div style="color:#A2A2A2"></div>
						</div>
					</div>
					<div  style="float:right;margin:11px;color:#A2A2A2"><%=fields.startDate.here({when: 'timeago'})%></div>
				</td>
			</tr>
		</tbody>
	</table>
	

<%
	}
%>
		