<li><h1><%=(value.direction + "put").toUpperCase()%> : <%=value.argument%></h1></li>
<ul>

    <%if(value.multipleInput){%>

        <%=fields.processVariableValueList.here()%>
    <%}else{%>

        <%=fields.value.here()%>
    <%}%>


</ul>