<%
	if(value){
		var session = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session');
		
		var admin = false;
		if(session && session.employee)
			admin = session.employee.isAdmin;
		
		if(value.processMapList){
%>


						
<%
			for (var i=0; i<value.processMapList.length; i++){
%>
						<%=mw3.locateObject(value.processMapList[i])%>
<%
			}
%>
<%
			if(true){
%>					<br><br>
		<%=methods.addApp.here()%>
<%
			 }
%>					
		<div class="clear"></div>
		<% if( value.dueDateSetting ){ %>
		<div><span style="color: red">* <%=mw3.localize("$existingSchedule")%></span></div>
		<% } %>
	</div>


<%
		}
	}
%>	