<%
if (value){
	var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
	var list_class = "";

	if(mw3.where  == 'dashboard'){
		list_class = "time_line _noti_list";
	}

%>

	<% if(session != null){ %>
		<div class="<%=list_class%>">
			<%=fields.searchDataList.here()%>
		</div>
	<% } %>

<%
}
%>