<%
	if(value){
%>
		<div class="top_iconmenu">
			<span class="glyphicon glyphicon-indent-right app_icon" style="color: #fff;" onClick="javascript:toggleLeft();" title="Apps"></span>
		</div>
<%
	}
%>