<%
if(value) {
%>
    <ul>
       <li class="top_search">
          <input placeholder="검색하세요" id="search_<%=objectId%>" class="top_search_input" value="<%=value.keyword ? value.keyword : ''%>">
       </li>

       <li class="top_search_right">
          <a onClick="<%=methods.search.caller()%>" href="#">
             <span class="glyphicon glyphicon-search" style="font-size:19px; color:#fff;margin-right:3px;line-height: 20px;"></span>
          </a>
       </li>
       <li style="clear:left;"></li>
    </ul>
<%
}
%>